.pokemons-list-container {
  margin: 0 auto;

  p {
    margin: 0;
  }

  .mb-4 {
    margin-bottom: 60px !important;
  }

  .card-list {
    .card-item {
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      height: 100%;
      border-radius: 20px;
      padding: 0 10px 10px 10px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      .image-sprite {
        position: relative;
        min-height: 40px;

        img {
          position: absolute;
          top: -50px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      // .total {
      //   font-weight: 600;
      //   color: #ccc;
      //   border: 0.5px solid rgb(28, 47, 18);
      //   width: fit-content;
      //   padding: 5px 10px;
      //   border-radius: 20px;
      //   margin: 10px auto 0 auto;
      // }

      .hp-container,
      .attack-container,
      .defense-container {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 24px;
        border-radius: 20px;
        color: #fff;
        font-weight: 600;
        text-align: center;
        margin-top: 10px;

        .label-stat-item {
          margin-left: 5px;
          width: 30px;
        }
        .value-stat-item {
          height: 100%;
          border-radius: 20px;
          flex-grow: 1;
        }
      }

      .hp-container {
        background-color: red;

        p {
          background-color: rgb(242, 106, 106);
        }
      }
      .attack-container {
        background-color: #ffcc00;

        p {
          background-color: #f0dd8e;
        }
      }
      .defense-container {
        background-color: #4da6ff;

        p {
          background-color: #8eb7f0;
        }
      }

      // .icon-hp {
      //   filter: invert(29%) sepia(96%) saturate(1194%) hue-rotate(324deg)
      //     brightness(93%) contrast(101%);
      // }
      // .icon-attack {
      //   filter: brightness(0) saturate(100%) invert(88%) sepia(21%)
      //     saturate(6269%) hue-rotate(359deg) brightness(103%) contrast(103%);
      // }
      // .icon-defense {
      //   filter: invert(52%) sepia(92%) saturate(1290%) hue-rotate(176deg)
      //     brightness(98%) contrast(97%);
      // }

      .name {
        font-weight: 600;
        font-size: 18px;
        margin: 5px 0 10px 0;
        overflow: hidden;
        margin: 5px 0 10px 0;
        text-overflow: ellipsis;
        width: 100%;
        white-space: nowrap;
      }

      .type-list {
        display: flex;
        justify-content: center;
        gap: 10px;

        .grass,
        .normal,
        .fire,
        .water,
        .electric,
        .ice,
        .fighting,
        .poison,
        .ground,
        .psychic,
        .flying,
        .ghost,
        .bug,
        .rock,
        .dark,
        .dragon,
        .steel,
        .fairy {
          padding: 5px;
          border-radius: 10px;
          font-weight: 600;
        }
      }
    }
    .card-item:hover {
      box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
    }
  }

  .search-filter-sort-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;

    .search-container {
      display: flex;
      width: 60%;

      .search {
        width: 60%;
        position: relative;

        input {
          border-radius: 10px;
          padding: 10px 15px;
          border: 0.5px solid #ccc;
          width: 100%;
          outline: none;
        }

        img {
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);
        }
      }
    }

    .filter-sort-container {
      display: flex;
      gap: 16px;

      .filter-container,
      .sort-container {
        border-radius: 10px;
        position: relative;
        width: 45px;
        height: 45px;
        cursor: pointer;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .filter-container {
        background-color: #9caedb;
      }
      .sort-container {
        background-color: #b8b8d0;
      }
    }
  }
}

::ng-deep .ngx-pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.gradient-border {
  --borderWidth: 1px;
  --borderRadius: 20px;
  position: relative;
  border-radius: 10px;
}
.gradient-border:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: var(--borderRadius);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Responsive
@media (max-width: 325px) {
  .search-filter-sort-container {
    flex-direction: column;

    .filter-sort-container {
      padding-right: 0 !important;
      justify-content: space-between;
      width: 100%;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 0 !important;
  }
}

@media (max-width: 576px) {
  .container {
    padding: 0 !important;
    width: calc(100vw - 16px) !important;
  }
}
